
/*Add stylesheet to the main css file / for home page*/
@import "reset.css";
@import "nav.css";
@import "footer.css";

/* Apply box-sizing: border-box to all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    
}


body {
    margin: 0;
    padding: 0;
    font-family: 'AvenirNext-Regular', sans-serif;
    background-color: #F7F7F2;
}

h1 {
  font-size: 32px;
  font-family: 'AvenirNext-Bold';
}


h2 {
  font-size: 28px;
  font-family: 'AvenirNext-Bold';
}


h3 {
  font-size: 24px;
  font-family: 'AvenirNext-Bold';
}

h4 {
  font-size: 20px;
  font-family: 'AvenirNext-Bold';
}


p {
  font-size: 14px;
  font-family: 'AvenirNext-Regular';
}

.page__container {
    height: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 60px auto 60px;
    grid-template-areas:
        "n n n n n n n n n n n n"
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f"
}

/*Header*/

.page__header {
    position: relative;
    grid-area: h;
    grid-area: 2/1/2/13;
    min-height: 300px;   
}

.video__container {
    content:"";
    position: relative;
    min-width: 100vw; 
    max-height: 600px;
    background-color: #1a1b1b;
    /*background-color:rgba(10,10,10,0.7);*/
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
  
  .video {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 500px;
    /*z-index:-100;*/
    
  }

  .video__container::after {
    content:"";
    position: absolute;
    min-width: 50vw; 
    min-height: 50vh;
    /*background-color:rgba(10,10,10,0.8);*/
    /*z-index: 100;*/
    left: 0;
    top: 0;

  }

/*
  .video__container::after {
    content:"";
    position: absolute;
    min-width: 50vw; 
    min-height: 50vh;
    background-color:rgba(10,10,10,0.8);
    z-index: 100;
    left: 0;
    top: 50%;
  }
*/
  .landing__container {
    position: relative;
    top: 50%;
    color: #fff;
    background-color: rgba(10,10,10,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 15px;
    padding: 15px;
  } 

  .landing__heading {
     font-weight: 300;
  }


  .landing__paragraph {
    font-family: 'AvenirNext-Regular';
    text-align: center;
    letter-spacing: 0.5px;
  }

  .landing__button {
    background-color: #f59252;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-family: 'AvenirNext-Regular';
    font-size: 16px;
    letter-spacing: 1.5px;
    cursor: pointer;
  }

  .landing__button:hover {
    background-color: #eeeeee;
    color: #f59252;
    cursor: pointer;
  }

  /*
  .landing__container::after {
    content:"";
    position: absolute;
    min-width: 50vw; 
    min-height: 50vh;
    z-index: 100;
    left: 50%;
    top: 0;
  }*/

   /*Main*/ 
   .page__main {
    grid-area: m;
    background-color: #F7F7F2;
    position: relative;
}
/*
   .page__main {
    grid-area: m;
    background-color: #F7F7F2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
   }*/